In [51]:
import numpy as np 
import pandas as pd
import random as rm
import math
# shift + enter to run cells
# python3 -m pip install til at installere moduler

In [52]:
n = 11 # antallet af steps
x0 = rm.uniform(35,85)
y0 = rm.uniform(25,60)
# range er lige nu baseret på ca. datasæt fra Nanobio 1

for i in range(1,n):
    step = 2*math.sqrt(1*10**-8*1**1)+rm.gauss(x0,1)
    x0 = x0 + step
    x_list = [x0]
    x_list.append(x0)
    
    y0 = y0 + step
    y_list = [y0]
    y_list.append(y0)
    print('x,y bliver: ', x0,y0)
    print('Steppet bliver da: ', step)
# her skal de to lister defineres / "gemmes"

# Jeg vil gerne have, at x,y for i afhænger af x,y for i-1. I stedet for x0,y0 skal det være x,y fra forrige step... 
# Derudover er jeg lidt i tvivl om standardafvigelsen. Hvor stor bør den være? Der er noget galt med gauss random generator. Tallene bliver meget store, jeg mistænker den adderer alle forrige x0 sammen?
# Herved dannes et track. Udenom vil jeg lave et til for-loop, så der dannes flere tracks (det vil så være muligt at styre hvor mange vha. det loop). Jeg vil gerne definere hvert track, så man bagefter kan sige track1 + track2... (som ses nedenfor)

x,y bliver:  116.17331394752777 88.44975764374098
Steppet bliver da:  57.08224986016468
x,y bliver:  230.77699621932268 203.05343991553588
Steppet bliver da:  114.60368227179491
x,y bliver:  462.63533383964864 434.9117775358618
Steppet bliver da:  231.85833762032595
x,y bliver:  923.8650600247806 896.1415037209938
Steppet bliver da:  461.22972618513194
x,y bliver:  1848.5533643820372 1820.8298080782502
Steppet bliver da:  924.6883043572565
x,y bliver:  3697.1931764536457 3669.469620149858
Steppet bliver da:  1848.6398120716083
x,y bliver:  7394.703092182999 7366.979535879213
Steppet bliver da:  3697.509915729354
x,y bliver:  14790.633504881753 14762.909948577966
Steppet bliver da:  7395.9304126987545
x,y bliver:  29582.90789835964 29555.184342055854
Steppet bliver da:  14792.274393477888
x,y bliver:  59166.51400868129 59138.79045237751
Steppet bliver da:  29583.606110321653

In [53]:
# herfra og ned var bare noget basic træning med andre tal for at se, hvordan jeg kan koble tracks sammen og derved dannet et samlet datasæt. 
def data1 (x,a,b):
    return a*x+b

In [54]:
x_1 = np.linspace(0,50,9)
x_2 = np.linspace(0,100,20)
y_1 = data1(x_1,2,5)
y_2 = data1(x_2,2,5)

track_ID = list(np.zeros(9)) + list(np.ones(20))
x_dat = list(x_1) + list(x_2)
y_dat = list(y_1) + list(y_2)

In [55]:
dicto = {'ID':track_ID,'x':x_dat,'y':y_dat}
df = pd.DataFrame(dicto)

In [56]:
df.head(10)

    ID      x      y
0  0.0   0.00    5.0
1  0.0   6.25   17.5
2  0.0  12.50   30.0
3  0.0  18.75   42.5
4  0.0  25.00   55.0
5  0.0  31.25   67.5
6  0.0  37.50   80.0
7  0.0  43.75   92.5
8  0.0  50.00  105.0
9  1.0   0.00    5.0